@model List<NodeIndexViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    @foreach (var node in Model)
    {
        <div class="col-md-12 d-flex justify-content-between index-node-container">
            <div class="d-flex">
                <img class="node-image" src="~/img/logo1.png" alt="Node Logo" />
                <div>@node.Name</div>
            </div>
            <div class="d-flex">
                <div class="d-flex flex-column me-4">
                    <div>CPU: @node.HardwareCPU</div>
                    <div>RAM: @node.HardwareRAM</div>
                </div>
                <div class="d-flex flex-column">
                    <div>Download Speed: @node.HardwareDownloadSpeed</div>
                    <div>Storage: @node.HardwareStorage</div>
                </div>
            </div>
        </div>
    }
</div>