@model List<NodeIndexViewModel>
@{ 
    var color = string.Empty;
}

@if (Model != null || Model.Count > 0)
{
    @foreach (var node in Model)
    {
        <div class="col-md-4 col-sm-6">
            <a class="node-container-a" asp-action="NodeDetails" asp-controller="Node" asp-route-id="@node.Id">
                <div class="card p-3 mb-4">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            @if (node.Image != null)
                            {
                                <div><img class="node-image" src="data:image/jpeg;base64,@node.Image" alt="Node Logo" /></div>
                            }
                            else
                            {
                                <div><img class="node-image" src="~/img/logo1.png" alt="Node Logo" /></div>
                            }
                            <div class="ms-3 c-details">
                                <h5 class="mb-0">@node.Name</h5>
                                @if (node.StartDate > DateTime.Now)
                                {
                                    <span>
                                        @(Math.Floor((node.StartDate - DateTime.Now).TotalDays)) days to come
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        @(Math.Floor((DateTime.Now - node.StartDate).TotalDays)) days ago
                                    </span>
                                }
                            </div>
                        </div>
                        <div>
                            @if (node.EndDate < DateTime.Now)
                            {
                                color = "color: #d63447;";
                            }
                            else if (node.StartDate > DateTime.Now)
                            {
                                color = "color: #005792";
                            }
                            else
                            {
                                color = "color: #7dd87d";
                            }
                            <i style="@color" class="fa-solid fa-circle fs-5"></i>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div class="mt-4">
                            <h5 class="mb-0">
                                Rating:@if (node.ReviewRate != null)
                                {
                                    for (int i = 0; i < node.ReviewRate; i++)
                                    {
                                        <i class="fa-solid fa-star ms-2"></i>
                                    }
                                }
                                else
                                {
                                    <span class="ms-2">-</span>
                                }
                            </h5>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div class="mt-4">
                            <h5 class="mb-0">
                                Difficulty:@if (node.ReviewRate != null)
                                {
                                    for (int i = 0; i < node.ReviewDifficulty; i++)
                                    {
                                        <i class="fa-solid fa-wrench ms-2"></i>
                                    }
                                }
                                else
                                {
                                    <span class="ms-2">-</span>
                                }
                            </h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
}
else
{
    <h4 class="text-center">There is no node to show yet.</h4>
}